@inherits LayoutComponentBase

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />

<style>

  /*   .mud-input-label{
        background-color: #181818;
        color:white !important;
    }

    .mud-input-slot{
        color: white !important;
    }

    .mud-list{
        background-color: #181818;
        color: white !important;
    } */

    .footer {
        background-color: #2374ab;
        color: white;
        text-align: center;
        padding: 20px;
        width: 100%;
        position: relative;
        bottom: 0;
    }
</style>

<div class="page">
    <main>
        <NavMenu />

        <article class="content px-0">
            @Body
        </article>
    </main>
</div>
<footer>
    <div class="footer">
          @@ 2024 Crudy.ir
 </div>
</footer>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
