@inject NavigationManager navigation

<div class="container justify-content-between align-items-center">


    <img src="logo.png" width="40" />

    <div class="text" data-msg="C&nbsp;R&nbsp;U&nbsp;D&nbsp;Y">
        <div class="text--content">
            <div class="text--data">C&nbsp;R&nbsp;U&nbsp;D&nbsp;Y</div>
        </div>
    </div>

    <BitButton OnClick="@(()=> navigation.NavigateTo("signin"))" Style="background-color:#2374ab; color:white; border-color:#2374ab" Size="BitButtonSize.Large"  ButtonStyle="BitButtonStyle.Standard">Sign in</BitButton>
</div>


<style>

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .container {
        min-height: 100px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text {
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 100%;
        color: #2374ab;
    }

        .text::before {
            content: attr(data-msg);
            filter: blur(3px);
        }

        .text::after {
            content: "";
            position: absolute;
            top: -4px;
            left: 0;
            width: 50px;
            height: calc(100% + 4px);
            border-top: 2px solid #2374ab;
            border-bottom: 2px solid #2374ab    ;
            animation: moveLeft 3s linear infinite alternate;
        }

    .text--content {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50px;
        overflow: hidden;
        animation: moveLeft 3s linear infinite alternate;
    }

    .text--data {
        animation: moveRight 3s linear infinite alternate;
    }

    @@keyframes moveLeft {
        0% {
            transform: translateX(0px);
        }

        100% {
            transform: translateX(100px);
        }
    }

    @@keyframes moveRight {
        0% {
            transform: translateX(0px);
        }

        100% {
            transform: translateX(-100px);
        }
    }
</style>