@page "/admin"
@layout AdminLayout
@using Crudy.UI.Features.Components
@inject HttpClient client


<PageTitle>Admin</PageTitle>


<div class="wrapper d-flex flex-column justify-content-center align-items-center">

    <div class="mt-5">
        Your API Key
    </div>

    <input type="text" class="form-control" placeholder="Your API Key" value=""/>

    <RestClient />
</div>




@code {

}
